{% for item in object_list %}
    <div style="margin-bottom: 20px;">
        <table border="1">
            <tr>
                <td>店名</td>
                <td>{{ item.store_name }}</td>
            </tr>
            <tr>
                <td>住所</td>
                <td>{{ item.address }}</td>
            </tr>
            <tr>
                <td>営業日</td>
                <td>{{ item.business_hours }}</td>
            </tr>
            <tr>    
                <td>定休日</td>
                <td>{{ item.regular_holiday }}</td>
            </tr>
            <tr>
                <td>WiFi</td>
                <td>{{ item.wifi }}</td>
            </tr>
            <tr>
                <td>アクセス</td>
                <td>{{ item.access }}</td>
            </tr>
            <tr>
                <td>ホームページ</td>
                <td>{{ item.hp }}</td>
            </tr>
        </table> 
    </div>
{% endfor %}
